<div id="achievementsPane">
  <h4 class="ui horizontal divider header">
    <i class="trophy icon"></i> Achievements
  </h4>
  <div id="achievements">
    {{#each civ.achData as |achObj|}}
      <div class='achievement' title='{{achObj.name}}'>
        <div class='unlockedAch' id='{{achObj.id}}'>
          {{achObj.name}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
