<div class="ui grid container">
  <div class="column">
    <h3 class="ui header">Basic Resources</h3>
    <table id="basicResources"> </table>
  </div>
</div>
<!-- {{#each civClicker.basicResources as |resource|}}
  <p>
    {{to-json resource}}
  </p>
{{/each}} -->
