<h4 class="ui horizontal divider header">
  <i class="cubes icon"></i>
  Basic Resources
</h4>
<table id="basicResources"> </table>
<!-- {{#each civClicker.basicResources as |resource|}}
  <p>
    {{to-json resource}}
  </p>
{{/each}} -->
