<div id="buildingsPane">
  <p id="customBuildQuantity">
    Custom Quantity <input id="buildingCustomQty" type="number" min="1" step="1" value="1" />
  </p>
  <table id="buildings"></table>
</div>

{{yield}}
