<div class="top attached segment">
  <h2 class="ui left floated header">
  <i class="icon"><i class="ra ra-tower"></i></i>
  <div class="content">
    The <span id="civType">Thorp</span> of <span id="civName">Woodstock</span>
    <div class="sub header">Ruled by the <span id="appellation">mighty</span> <span id="rulerName">Orteil</span></div>
  </div>
</h2>
{{!-- <div class="ui right floated compact menu">
  <a class="item">
    <i class="gamepad icon"></i>
    Games
  </a>
  <a class="item">
    <i class="video camera icon"></i>
    Channels
  </a>
  <a class="item">
    <i class="video play icon"></i>
    Videos
  </a>
</div> --}}
{{import-export}}
<a href="civFAQ.html" target="_blank">FAQ / Instructions / Bugfixing</a><br/>
<a href="civUpdates.html" target="_blank">Game Updates Log</a><br/>
<span id="versionAlert"> - <span id="newVersionText" onclick="location.reload()">New Version Available</span></span>
</div>

{{yield}}
