<h2 class="ui left floated header">
  <i class="icon"><i class="ra ra-tower"></i></i>
  <div class="content">
    The <span id="civType">Thorp</span> of <span id="civName">Woodstock</span>
    <div class="sub header">Ruled by the <span id="appellation">mighty</span> <span id="rulerName">Orteil</span></div>
  </div>
</h2>

<button class="right floated top attached ui basic black button" id="side-bar">
  <i class="sidebar icon"></i> Menu
</button>

{{yield}}
