<div class="container">
  <h2 class="ui header">
  <i class="icon"><i class="ra ra-tower"></i></i>
  <div class="content">
    The <span id="civType">Thorp</span> of <span id="civName">Woodstock</span>
    <div class="sub header">Ruled by the <span id="appellation">mighty</span> <span id="rulerName">Orteil</span></div>
  </div>
</h2>
</div>

{{yield}}
