<div id="conquestPane">
  <span id="standardRow"></span>
  <div id="conquest">
    <h4>Army</h4>
    <p id="customPartyQuantity">
      Custom Quantity <input id="partyCustomQty" type="number" min="1" step="1" value="1000" />
    </p>
    <table id="party"></table>
    <br />
    <div id="raidGroup">
      <h4>To War!</h4>
      <p id="gloryGroup">
        Glory: <span id="gloryTimer">0</span> seconds remain
      </p>
      {{#each civ.civSizes as |elem|}}
        <button class='ui button raid' data-action='raid' data-target='{{elem.id}}' disabled='disabled' onmousedown={{action "onBulkEvent"}}>
          Raid {{{elem.name}}}
        </button><br>
      {{/each}}
    </div>
    <div id="victoryGroup">
      <h4>Victory!</h4>
      <button class="ui button" id="plunder" onmousedown="plunder()">Plunder Resources</button><br />
    </div>
  </div>
</div>
