<h4 class="ui horizontal divider header">
  <i class="list layout icon"></i>
  Events
</h4>
<div id="eventsContainer">
  <table id="logTable">
    <tr id="log0">
      <td id="logT"></td>
      <td id="logL"></td>
      <td id="logR"></td>
    </tr>
    <tr id="log1">
      <td colspan="3"></td>
    </tr>
    <tr id="log2">
      <td colspan="3"></td>
    </tr>
    <tr id="log3">
      <td colspan="3"></td>
    </tr>
    <tr id="log4">
      <td colspan="3"></td>
    </tr>
    <!-- <tr id="log5"><td colspan="3"></td></tr>
        <tr id="log6"><td colspan="3"></td></tr>
        <tr id="log7"><td colspan="3"></td></tr>
        <tr id="log8"><td colspan="3"></td></tr>
        <tr id="log9"><td colspan="3"></td></tr> -->
  </table>
</div>

{{yield}}
