<div id="jobsContainer">
  <h3>Jobs</h3>
  <p id="customJobQuantity">
    Custom Quantity <input id="homeCustomQty" type="number" min="1" step="1" value="1" />
  </p>
  <table id="jobs"></table>
</div>

{{yield}}
