<div class="ui bottom attached segment pushable">
  <div class="ui inverted labeled icon left inline vertical right sidebar menu">
    <a class="item" onclick={{action 'openModal' 'import-export'}}>
      <i class="retweet icon"></i>
      Import<br>Export
    </a>
    <a class="item" href="civFAQ.html" target="_blank">
      <i class="book icon"></i>
      FAQ<br>Instructions<br>Bugfixing
    </a>
    <a class="item" href="civUpdates.html" target="_blank">
      <i class="calendar icon"></i>
      Game<br>Updates<br>Log
    </a>
    <a class="item" id="versionAlert" onclick="location.reload()">
      <i class="red info circle icon"></i>
      New<br>Version<br>Available
    </a>
  </div>
  <div class="pusher">
    {{yield}}
  </div>
</div>
{{import-export}}
