<div class="ui two column grid container">
  <div class="sixteen wide column">
    <h3 class="ui header">Special Resources</h3>
  </div>
  <div class="column">
    <div class="ui three column grid">
      <div class="column">Skins:</div>
      <div class="column"><span data-action="display" data-target="skins">0</span></div>
      <div class="column"><img src="images/skins.png" class="icon-lg" /></div>
    </div>
  </div>
  <div class="column">
    <div class="ui three column grid">
      <div class="column">Leather:</div>
      <div class="column"><span data-action="display" data-target="leather">0</span></div>
      <div class="column"><img src="images/leather.png" class="icon-lg" /></div>
    </div>
  </div>
  <div class="column">
    <div class="ui three column grid">
      <div class="column">Herbs:</div>
      <div class="column"><span data-action="display" data-target="herbs">0</span></div>
      <div class="column"><img src="images/herbs.png" class="icon-lg" /></div>
    </div>
  </div>
  <div class="column">
    <div class="ui three column grid">
      <div class="column">Piety:</div>
      <div class="column"><span data-action="display" data-target="piety">0</span></div>
      <div class="column"><img src="images/piety.png" class="icon-lg" /></div>
    </div>
  </div>

  <div class="column">
    <div class="ui three column grid">
      <div class="column">Ore:</div>
      <div class="column"><span data-action="display" data-target="ore">0</span></div>
      <div class="column"><img src="images/ore.png" class="icon-lg" /></div>
    </div>
  </div>
  <div class="column">
    <div class="ui three column grid">
      <div class="column">Metal:</div>
      <div class="column"><span data-action="display" data-target="metal">0</span></div>
      <div class="column"><img src="images/metal.png" class="icon-lg" /></div>
    </div>
  </div>
  <div id="goldRow" class="column">
    <div class="ui three column grid">
      <div class="column">Gold:</div>
      <div class="column"><span data-action="display" data-target="gold">0</span></div>
      <div class="column"><img src="images/gold.png" class="icon-lg" /></div>
    </div>
  </div>
</div>

{{yield}}
