<div class="compact ui stackable three column grid container">
  <div class="sixteen wide column">
    <h3 class="ui header">Special Resources</h3>
  </div>
  <div class="column">
    <h4 class="ui image header">
      <img src="images/skins.png" class="ui mini image" />
      <div class="content">
        Skins
        <div class="sub header"><span data-action="display" data-target="skins">0</span></div>
      </div>
    </h4>
  </div>
  <div class="column">
    <h4 class="ui image header">
      <img src="images/herbs.png" class="ui mini image" />
      <div class="content">
        Herbs
        <div class="sub header"><span data-action="display" data-target="herbs">0</span></div>
      </div>
    </h4>
  </div>
  <div class="column">
    <h4 class="ui image header">
      <img src="images/ore.png" class="ui mini image" />
      <div class="content">
        Ore
        <div class="sub header"><span data-action="display" data-target="ore">0</span></div>
      </div>
    </h4>
  </div>
  <div class="column">
    <h4 class="ui image header">
      <img src="images/leather.png" class="ui mini image" />
      <div class="content">
        Leather
        <div class="sub header"><span data-action="display" data-target="leather">0</span></div>
      </div>
    </h4>
  </div>
  <div class="column">
    <h4 class="ui image header">
      <img src="images/piety.png" class="ui mini image" />
      <div class="content">
        Piety
        <div class="sub header"><span data-action="display" data-target="piety">0</span></div>
      </div>
    </h4>
  </div>
  <div class="column">
    <h4 class="ui image header">
      <img src="images/metal.png" class="ui mini image" />
      <div class="content">
        Metal
        <div class="sub header"><span data-action="display" data-target="metal">0</span></div>
      </div>
    </h4>
  </div>
  <div id="goldRow" class="column">
    <h4 class="ui image header">
      <img src="images/gold.png" class="ui mini image" />
      <div class="content">
        Gold
        <div class="sub header"><span data-action="display" data-target="gold">0</span></div>
      </div>
    </h4>
  </div>
</div>

{{yield}}
