{{#ui-modal name="stats-modal" class="small stats-modal" }}
  <div class="header">
    <i class="heartbeat icon"></i>
    Stats
  </div>
  <div class="image content">
    <div id="statsContainer">
      Resource clicks: <span id="clicks">0</span> {{ui-popup tagName="i" class="info circle icon" content="Number of clicks on 'Basic Resources' buttons." data-variation="mini"}}<br>
      Total Land: <span id="totalLand">1000</span><br>
      Total Buildings:  <span id="totalBuildings">0</span><br>
      Enemies Slain: <span data-action="display" data-target="enemySlain">0</span><br>
      <span id="walkGroup"><br>Walk: <span id="walkStat">0</span> workers per second<br /></span>
    </div>
  </div>
  <div class="actions">
    <div class="ui blue approve button">Ok</div>
  </div>
{{/ui-modal}}
