<div id="tradeContainer">
  Trader offers 1 gold for <span id="tradeRequested">0</span> <span id="tradeType">food</span><br />
  <button class="ui button" id="trader" onmousedown="trade()">Trade</button>
</div>

{{yield}}
