#basicResources button {
    text-transform:capitalize;
}

#basicResources .capitalize {
    text-transform:capitalize;
}

#goldRow{
    display:none;
}

#impexpField {
  width: 100%
}

#versionAlert{
    display:none;
}
