#basicResources button {
  text-transform: capitalize;
}

.capitalize {
  text-transform: capitalize;
}

#goldRow {
  display: none;
}

#impexpField {
  width: 100%
}

#versionAlert {
  display: none;
}

// TODO: hide scrollbar on chrome; probably should handle it for other browers or remove it entirely
::-webkit-scrollbar {
    display: none;
}
